[Unit]
Description=nginx_chameleon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/fcham.sh

[Install]
WantedBy=multi-user.target